* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #B8D6BF;
  --secondary: #698A70;
  --tertiary: #8A7E70;
  --fourth: #B8A3D6;
  --button: #D6BFA3;
  --button-hover: #c6a070;
  --background-hover: #b1d7bace;
}

body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;  
}


#currentWeatherDiv, .weatherForecast, .savedCity {
  background-color: var(--secondary);
  color: #EEEEEE;
  box-shadow: 5px 5px 10px #555;

}

#submitButton, #favouritesButton {
  background-color: var(--button);
  border: 0;
}

#submitButton:hover, #favouritesButton:hover {
  background-color: var(--button-hover)
}

.list-group-item {
  color: #EEEEEE;
}

.nav-link:hover {
  background-color: var(--background-hover)
}

.hidden {
  display: none;
}


/* Desktop styles */

@media screen and (min-width: 1025px ) {  
  .hidden {
      display:inherit;
  }
}